@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body, .ant-typography {
  font-family: 'Ubuntu' !important;
}

.App {
  text-align: center;
  height: 100vh;
  min-width: 50vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.row-homepage {
  margin-top:5vh;
}

.card-homepage {
  min-height: 40vh;
  max-height: 40vh;
  overflow: hidden;
  max-width: 30vw;
  border: 1px solid grey;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.rowClassName1 {
  background-color: #FFF2F0;
  border-radius: 10px;
  border-color: chartreuse;
  border-width: 3px;
  border-style: solid;
}

.ant-card {
  min-height: 200px; /* Imposta un'altezza minima per tutte le card */
  display: flex;
  flex-direction: column;
}

.ant-card-head-title {
  text-overflow: unset;
  white-space: normal;
}

.ant-card-meta-title {
  min-height: auto;
  display: block;
  text-align: center;
  text-overflow: unset !important;
  word-wrap: break-word;
  overflow: visible;
  white-space: normal !important;
  max-width: 100%;
  overflow-wrap: break-word;
}

.ant-card-body {
  flex-grow: 1; /* Fa espandere il corpo della card in modo uniforme */
}

.description-text {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Per sicurezza */
  min-height: 40px; /* Mantiene altezza uniforme */
  word-wrap: break-word;
  white-space: normal;
}
