/* Stile per la tabella F5 */
.f5-table .ant-table {
  background-color: #ffeae6; 
}
.f5-table .ant-table-thead > tr > th {
  background-color: #E6412D; 
}
.f5-table .ant-table-tbody > tr > td {
  background-color: #fddbd6;
}

/* Stile per la tabella Infoblox */
.infoblox-table .ant-table {
  background-color: #f6ffed; 
}
.infoblox-table .ant-table-thead > tr > th {
  background-color: #b7eb8f; 
}
.infoblox-table .ant-table-tbody > tr > td {
  background-color: #f6ffed;
}

/* Stile per la tabella Checkpoint */
.checkpoint-table .ant-table {
  background-color: #ffe6ff; 
}
.checkpoint-table .ant-table-thead > tr > th {
  background-color: #ff8ff9; 
}
.checkpoint-table .ant-table-tbody > tr > td {
  background-color: #ffe6fe;
}
